
@{
    ViewBag.Title = "AnnualCelbrations2019";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Annual Celbrations 5 <sup>th</sup> Feb, 2019- Day 1 </h2>
<div class="slider-holder">
    <span id="slider-image-1"></span>
    <span id="slider-image-2"></span>
    <span id="slider-image-3"></span>
    <span id="slider-image-4"></span>
    <span id="slider-image-5"></span>
    <span id="slider-image-6"></span>
    <span id="slider-image-7"></span>
    <span id="slider-image-8"></span>
    <span id="slider-image-9"></span>
    <span id="slider-image-10"></span>
    <span id="slider-image-11"></span>
    
    <div class="image-holder">
        <img src="~/images/Events/Feb2019/1.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/2.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/3.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/4.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/5.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/6.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/7.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/8.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/9.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/10.jpeg" class="slider-image" />
        <img src="~/images/Events/Feb2019/11.jpeg" class="slider-image" />
    </div>
    <div class="button-holder">
        <a href="#slider-image-1" class="slider-change"></a>
        <a href="#slider-image-2" class="slider-change"></a>
        <a href="#slider-image-3" class="slider-change"></a>
        <a href="#slider-image-4" class="slider-change"></a>
        <a href="#slider-image-5" class="slider-change"></a>
        <a href="#slider-image-6" class="slider-change"></a>
        <a href="#slider-image-7" class="slider-change"></a>
        <a href="#slider-image-8" class="slider-change"></a>
        <a href="#slider-image-9" class="slider-change"></a>
        <a href="#slider-image-10" class="slider-change"></a>
        <a href="#slider-image-11" class="slider-change"></a>

    </div>
</div>
