
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Temple History</h2>
                <ol class="breadcrumb greylinks">                    
                    <li> <a href="#">History</a> </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <h2 class="section_header color">Time lines of Temple</h2>
    <div class="section_header fontcolor:#313131 leftmargin_20 topmargin_10 rightmargin_10 bottommargin_10">
        <h6 class="section_header">
            •	2007 - Bala Alaya Nirmanam. <br />
            •	2008 - Temple Planning and Design.<br />
            •	2009 - Vaikunta Ekadashi – 40 Devotees , with 14 feet idol.<br />
            •	2010 - New Design and new planning.<br />
            •	2011 - Kalyannotsavam, Rathayathra , Extensive Planning and Started Jai Sreemannarayan Charitable trust services.<br />
            •	2012 - Idol/Swamy arrived Sangareedy.<br />
            •	2013 - 14 Feet Lord Venkateshwara Idol Installed (Prathishta) on panchami thidhi, and Started daily rituals.<br />
            •	2014 - Free Archana services for his devotees.<br />
            •	2015 - Newly Built Goshala for swamy daily rituals and Introduced Goshala Charitable trust services. <br />
            •	2016 - Nithya Annadanam services for his devotees.<br />
            •	2017 -Took 18 feet matti Ganapathi idol construction with in temple premises.<br />
            •	2018 - New creative construction architecture initiation for 4 side Dwaras/ Doors around temple.<br />
            •	2019 - future planning: Rajagopuram construction and Veda Patashala.<br />
        </h6>
    </div>
</section>