
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Donate</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="./About">
                            History
                        </a>
                    </li>
                    
                    <li class="active">Donate</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="ls page_portfolio section_padding_top_100 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="intro_section blog_slider ds all-scr-cover">
                    <div class="slide-image-wrap"> <img src="images/gallery/09.jpg" alt="" /> </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer to_animate" data-animation="fadeInLeft">
                                            <h2>Sri Vaikuntapuram</h2>
                                        </div>
                                        <div class="intro-layer to_animate" data-animation="fadeInRight">
                                            <p class="thin"><em>Temple trust offers the best Charity Serivces.</em></p>
                                        </div>
                                        <div class="intro-layer to_animate" data-animation="fadeInUp">
                                            <div class="slide_buttons"> <a href="contact.html" class="theme_button color3 min_width_button">Donate</a> </div>
                                        </div>
                                    </div>
                                    <!-- eof .slide_description -->
                                </div>
                                <!-- eof .slide_description_wrapper -->
                            </div>
                            <!-- eof .col-* -->
                        </div>
                        <!-- eof .row -->
                    </div>
                    <!-- eof .container -->
                </section>
            </div>
        </div>
        <div class="row flex-wrap columns_margin_bottom_20">
            <div class="col-sm-6 col-md-4">
                <article class="vertical-item content-padding big-padding with_border loop-color text-center">
                    <div class="item-media"> <img src="images/gallery/11.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title small bottommargin_0"> <a href="#">Jai Srimanaraya Charitable Trust</a> </h3>
                        </header>
                        <div class="entry-content">
                            <div class="progress bottommargin_15">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="66.66"> </div>
                            </div>
                            <p><strong class="grey big">$600</strong> donated of $900 goal</p>
                            <p class="topmargin_30"> <a href="#" class="theme_button color1 inverse min_width_button bottommargin_0">Donate</a> </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4">
                <article class="vertical-item content-padding big-padding with_border loop-color text-center">
                    <div class="item-media"> <img src="images/gallery/06.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title small bottommargin_0"> <a href="#">Jagannadha Tadiyaradhana Trust</a> </h3>
                        </header>
                        <div class="entry-content">
                            <div class="progress bottommargin_15">
                                <div class="progress-bar progress-bar-color2" role="progressbar" data-transitiongoal="66.66"> </div>
                            </div>
                            <p><strong class="grey big">$1100</strong> donated of $2000 goal</p>
                            <p class="topmargin_30"> <a href="#" class="theme_button color2 inverse min_width_button bottommargin_0">Donate</a> </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4">
                <article class="vertical-item content-padding big-padding with_border loop-color text-center">
                    <div class="item-media"> <img src="images/gallery/01.jpg" alt=""> </div>
                    <div class="item-content">
                        <header class="entry-header">
                            <h3 class="entry-title small bottommargin_0"> <a href="#">Sri Gokulam Goshala Trust</a> </h3>
                        </header>
                        <div class="entry-content">
                            <div class="progress bottommargin_15">
                                <div class="progress-bar progress-bar-color4" role="progressbar" data-transitiongoal="66.66"> </div>
                            </div>
                            <p><strong class="grey big">$4000</strong> donated of $5000 goal</p>
                            <p class="topmargin_30"> <a href="#" class="theme_button color4 inverse min_width_button bottommargin_0">Donate</a> </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

