
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Temple History</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="./">History</a> </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <h2 class="section_header color">Time lines of Temple</h2>
    <div class="section_header fontcolor:#313131 leftmargin_20 topmargin_10 rightmargin_10 bottommargin_10">
        •	2007 - Bala Alaya Nirmanam <br/>
        •	2008 - Temple Planning and Design<br/>
        •	2009 - Vaikunta Ekadashi – 40 Devotees , with 14 feet idol<br/>
        •	2010 - New Design and new planning<br/>
        •	2011 - Kalyannotsavam, Rathayathra , Extensive Planning<br/>
        •	2012 - Idol/Swamy arrived Sangareedy<br/>
        •	2013 - Installed ( Prathishta)<br/>
        •	2014:<br/>
        •	2015<br/>
        •	2016:<br/>
        •	2017:<br/>
        •	2018 -<br/>
        •	2019 - future planning: Rajagopuram construction and Veda Patashala<br/>
    </div>
</section>
