
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Temple Service Events</h2>
                <ol class="breadcrumb greylinks">
                    <li> <a href="#">Services</a> </li>
                    <li class="active">Events</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <h2 class="section_header color">Daily Events</h2>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <h2 class="section_header color">Weekly Events</h2>
</section>

<section class="ls section_padding_top_100 section_padding_bottom_100">
    <h2 class="section_header color">Monthly(Maasa) Events</h2>
</section>
<section class="ls section_padding_top_100 section_padding_bottom_100">
    <h2 class="section_header color">Yearly Events</h2>
</section>
