
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page_breadcrumbs ds background_cover section_padding_top_65 section_padding_bottom_65">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2> Services</h2>
                <ol class="breadcrumb greylinks">
                    <li>
                        <a href="./">
                            Service
                        </a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="services" class="ls section_padding_top_10">
    <h2 class="section_header color">Virat Venkateswara Swamy- Ritual Services</h2>
    <h6 class="section_header" style="margin-left: 10px">
        <b>     	Sri Virat Venkateswara Swamy temple Sangareddy provides various services for pilgrims at Vaikuntapuram.</b><br />
                                                                                                                     <b>
         It facilitates Services like
         Weekly & Monthy Sevas.
     </b><br />
        •	Every month on Sravana Nakshatram – Sri Vari Thirumanjanam. <br />
        •	Every month on Uthara Phalguni Nakshatram – Maha Lakshmi Thirumanjanam. <br />
        •	Every month on Purva Phalguni Nakshatram – Goda Thirumanjanam. <br />
        •	Every month Chita & Swathi Nakshatram – Sudarshan Narasimha Thirumanjanam. <br />
        •	Every month Purav Bhadra Nakshatram – Anjaneya Swamy Thirumanjanam. <br />
        •	Every Pournima – Lakshmi Hayagriva Thirumanjanam. <br />
        •	Every Friday – Sarva Mangala Devi Thirumanjanam. <br />
        •	Every Tuesday & Saturday – Sindhuraachana for Anjaneya (Chandanarchana). <br />
        •	Every Tuesday – Tamala Patra Archana & Vada Mala Seva. <br />
        •	Every Saturday – Vasudeva, Sudarshana, Narasimha Havanam & Palaki Seva for Srinivas Perumal. <br />
        •	Every Tuesday – Sri Rama Hanumat Moola Mantra Havanam. <br />
        •	Every Friday – Maha Lakshmi Kumkuma Archana. <br />


        •	SV Temple SRD was established to propagate the Hindu dharma and also helps promote the age-old cultural heritage of India, <br />
        •	in the areas of traditional sculpture and architecture, temple renovation and reconstructions and restoration of Hindu sculptures. <br />
    </h6>
</section>