
@{
    ViewBag.Title = "Flash";
}
<script>setTimeout(function () { window.location.href = '../Home/Index' }, 10000);</script>
<table border="0">
    <tr>
        <td>
            <h4>     6th Annual Celbrations - Sri Virat Venkateshwara Swamy Divya Kshethram Sanga Reddy 2019</h4>
        </td>
    </tr>
</table>
@*<table>
        <tr>
            <td height="30%">
                <img src="~/images/Virat_Banner.jpg" />
            </td>
        </tr>
    </table>*@
<table border="0">
    <tr>
        <td><img src="~/images/Events/6thAnnualCelbrations.jpeg" alt="Sashtma Brahmoshtvalu" /></td>
        <td><img src="~/images/Events/Brahmotsavalu-2019-Details.jpeg" alt="Sashtma Brahmoshtvalu" /></td>
    </tr>
</table>

@*<img src="~/images/Events/6thAnnualCelbrations.jpeg" alt="Sashtma Brahmoshtvalu"/>*@

@*<img src="~/images/Virat_Banner.jpg" />*@