
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner Section with coursel view (Slider View) -->
<section class="intro_section page_mainslider ds all-scr-cover bottom-overlap-teasers">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            <li>
                <div class="slide-image-wrap"> <img src="images/slide01.jpg" alt="" /> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInRight"> SV Temple Community Center </div>
                                    <div class="intro-layer" data-animation="fadeInLeft">
                                        <h2> <span class="highlight3">Become The Change</span><br> You Want To See </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInRight">
                                        <p class="thin"><em>Details on Ganesha nimazzana celebrations coming on Sptember 23, 2018</em></p>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <div class="slide_buttons"> <a href="contact.html" class="theme_button color1 min_width_button">Be Proud!</a> </div>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li>
                <div class="slide-image-wrap"> <img src="images/slide02.jpg" alt="" /> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInRight"> Temple Community Center </div>
                                    <div class="intro-layer" data-animation="fadeInLeft">
                                        <h2> <span class="highlight3">Become The Change</span><br> You Want To See </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInRight">
                                        <p class="thin"><em>Details on the huge Calvin Sandoval celebration coming to Hillcrest on February 27, 2018</em></p>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <div class="slide_buttons"> <a href="contact.html" class="theme_button color1 min_width_button">Be Proud!</a> </div>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            <li>
                <div class="slide-image-wrap"> <img src="images/slide03.jpg" alt="" /> </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInRight"> Temple Community Center </div>
                                    <div class="intro-layer" data-animation="fadeInLeft">
                                        <h2> <span class="highlight3">Become The Change</span><br> You Want To See </h2>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInRight">
                                        <p class="thin"><em>Details on the huge Calvin Sandoval celebration coming to Hillcrest on February 27, 2018</em></p>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInUp">
                                        <div class="slide_buttons"> <a href="contact.html" class="theme_button color1 min_width_button">Be Proud!</a> </div>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>
<section id="services" class="ls section_intro_overlap columns_padding_0 columns_margin_0 container_padding_0">
    <div class="container-fluid">
        <div class="row flex-wrap v-center-content">
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-bell highlight" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Temple Seva(s)</a></h4>
                            <p>Rituals are performed to all the deities in the temple.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color2 transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-calendar highlight2" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Priest Service</a></h4>
                            <p>Daily, Weekly, Motnhly, yearly and Festivals prayers at the temple.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color3 transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-users highlight3" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Trust Services</a></h4>
                            <p>Temple trust offers the following services JSCT, SGGT & Tadiyaradhana.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 to_animate" data-animation="fadeInUp">
                <div class="teaser main_bg_color4 transp with_padding big-padding margin_0">
                    <div class="media xxs-media-left">
                        <div class="media-left media-middle">
                            <div class="teaser_icon size_small round light_bg_color thick_border_icon big_wrapper"> <i class="fa fa-rupee highlight4" aria-hidden="true"></i> </div>
                        </div>
                        <div class="media-body media-middle">
                            <h4><a href="#0">Donate Us Now</a></h4>
                            <p>Your support will make us termodonous change in trust services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--	<h2 class="section_header color4">SRI VAIKUNTAPURAMU, SANGAREDDY, TELANGANA</h2>
    <p>SRI VAIKUNTAPURAMU VIRAT VENKATESWARA SWAMY DIVYA KSHETRAM</p>
</header>-->
<!-- One -->
						</div>
<section id="about" class="ls section_padding_top_10 columns_padding_10">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 to_animate" data-animation="fadeInUp" data-delay="600">
                <p class="section-excerpt grey">Vaikuntapuramu Sri Venkateshwara swamy- Sangareddy temple holy place prmises video here.</p>
                <div class="embed-responsive embed-responsive-3by2">
                    <a href="https://www.youtube.com/embed/iXbwk-QMmtw" class="embed-placeholder">
                        <img src="images/gallery/01.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 to_animate" data-animation="fadeInRight" data-delay="300">
                <h2 class="section_header color4"> History Of Sri Vaikuntapuram</h2>
                <p class="section-excerpt grey">Narayana in the form of the saint (600 years ago) and evolving as Vaikuntapuramu Sri Venkateshwara at this holy place.</p>
                <p>
                    In south india, there is a ritual which is, where ever, Lord Venkateshwara or Lord Sri Krishna or Sri Rama are installed To describe that Idol we need to understand the song which was written by Annamacharya. That song is “Andariki abhayyammulu ichu cheyi, kanduvagu manchi bangaru cheyi”. As that song describes the lord, even that Idol was evolved with at most beauty with a smiling face, Golden Hand (Abhaya Hastam),
                    Golden Chest Armour, Golden Thirunamam. All devotees who arrived that location were blessed by seeing that beautiful Idol.
                    They were blessed by the luck which couldn’t obtained by other life’s. Then they Installed that Idol in that newly constructed temple. From then the greatness of this temple was spread across the state and county. <a href="service-single.html#tester" class="more-link">read more</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="events" class="ls section_padding_top_10">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottommargin_0 to_animate animated fadeInUp" data-animation="fadeInUp">
                <div class="row masonry-feed columns_padding_1">
                    <div class="col-xs-12 col-md-3">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="./Diversify_files/02(1).jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="http://webdesign-finder.com/html/diversify/gallery-single.html">Special at Crest Cafe</a> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                <div class="vertical-item content-absolute text-center ds">
                                    <div class="item-media"> <img src="./Diversify_files/03(1).jpg" alt=""> </div>
                                    <div class="item-content darken_gradient">
                                        <h3 class="entry-title"> <a href="http://webdesign-finder.com/html/diversify/gallery-single.html">Karaoke at Flicks</a> </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="vertical-item closest-event content-absolute text-center ds">

                            <!-- <div id="comingsoon-countdown" data-count-to="March 6, 2018 15:00:00 GMT-05:00" data-format="DHM"></div> -->
                            <div id="comingsoon-countdown" data-format="DHMS" class="is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">29</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">22</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">53</span><span class="countdown-period">Mins</span></span><span class="countdown-section"><span class="countdown-amount">59</span><span class="countdown-period">Sec</span></span></span></div>
                            <h3 class="entry-title"> <a href="http://webdesign-finder.com/html/diversify/gallery-single.html">Tuesday All-Day Happy Hour</a> </h3>
                            <div class="entry-meta inline-content">
                                <span>
                                    <i class="fa fa-map-marker highlight4 rightpadding_5" aria-hidden="true"></i>
                                    229 Verna Viaduct, new york
                                </span> <span>
                                    <i class="fa fa-clock-o highlight4 rightpadding_5" aria-hidden="true"></i>
                                    2:00 pm to 2:00 am
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12">

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="vertical-item content-absolute text-center ds">
                                <div class="item-media"> <img src="./Diversify_files/06(1).jpg" alt=""> </div>
                                <div class="item-content darken_gradient">
                                    <h3 class="entry-title"> <a href="http://webdesign-finder.com/html/diversify/gallery-single.html">Turnback Tuesdays at Lips</a> </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

